.stroke-text {
      display: block;
      width: 100%;
      line-height: 0;
      margin: 0px 0px 0px -130px;
}



.stroke-text--hover {
      cursor: pointer;
}

.stroke-text__svg {
      display: block;
      width: 100%;
      height: var(--stroke-text-height, 160px);
}

.stroke-text__stroke,
.stroke-text__fill {
      user-select: none;
}

@media (min-width: 100px) {
      .stroke-text {
            margin: 0px 0px 0px 0px;
      }

      .stroke-text__stroke{
            font-size: 10px;
      }
}